@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@font-face {
  font-family: HPfont;
  src: url(font/HARRYP__.TTF);
}

[data-theme="gryffindor"]{
  --bck: rgba(127, 9, 9, 0.7);
  --border: #ffc500;
}

[data-theme="hufflepuff"]{
  --bck: rgba(238, 225, 23, 0.7);
  --border: #000000;
}

[data-theme="ravenclaw"]{
  --bck: rgba(0, 10, 144, 0.7);
  --border: #946b2d;
}

[data-theme="slytherin"]{
  --bck: rgba(13, 98, 23, 0.7);
  --border: #aaaaaa;
}

h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.left-side > h4, h2{
  text-transform: capitalize;
}

/* ------------------------------------ MODAL ------------------------------------ */
/* The Modal (background) */
.hide {
  display: none;
}
.modal-background {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 50px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: var(--bck);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 7px solid;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-color: var(--border);
}

/* Add Animation */

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: var(--bck);
  color: white;
  grid-column: 1/3;
  grid-row: 1/2;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #f0706a;
  color: white;
  display: flex;
}

.modal-footer > h3 {
  margin: 3px;
}

.crest {
  width: 7rem;
}

section {
  display: grid;
  grid-template-columns: repeat(auto, 2fr);
  grid-template-rows: repeat(auto, 2fr);
}

.left-side,
.right-side {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  width: 50%;
}

.studentCard{
  width: 20rem;
  height: 5rem;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  cursor: pointer;
  font-family: HPfont;
  font-size: 1.5rem;
  border-radius: 5px;
  opacity: 0.9;
  border: 1px solid black;
}

main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
